@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  --main-bg-color: #f5f6f4;
  --green-color: #57c1a5;
  --green-bg-gradient: linear-gradient(var(--green-color), #79ceb8);

  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

@media (max-width: 750px) {
  .flex-grid {
    display: block;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 48rem;
  padding: 0 1rem;
}

section, header {
  box-sizing: border-box;
  padding: 0 0 3rem;
  position: relative;
}

header {
  color: var(--main-bg-color);
  background-image: var(--green-bg-gradient);
}

nav a {
  color: var(--main-bg-color);
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  align-items: center;
}

.hero-title {
  text-align: center;
}

@media (max-width: 750px) {
  .hero-title {
    text-align: center;
  }
}

.hero-image img {
  max-width: 100%;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

header h2 {
  font-size: 2rem;
}

header h3 {
  font-size: 1.5rem;
}

.section-heading {
  display: block;
  font-size: 3rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
  width: 100%;
}

#event-details {
  color: var(--green-color);
}

.event-details {
}

.where-to-stay {
  background: #5cc3e8;
  background-image: linear-gradient(#5cc3e8, #20acdf);
  color: #f5f6f4;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  align-items: center;
}

.hero-title {
  text-align: center;
}

@media (max-width: 750px) {
  .hero-title {
    text-align: center;
  }
}

.hero-image img {
  max-width: 100%;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

header h2 {
  font-size: 2rem;
}

header h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

.section-heading {
  display: block;
  font-size: 3rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
  width: 100%;
}

.heading-inset {
  margin-top: 2rem;
}

#event-details {
  color: #57c1a5;
}

.event-details {
}

.where-to-stay {
  background: #5cc3e8;
  background-image: linear-gradient(#5cc3e8, #20acdf);
  color: 
  padding-top: 60px;
}

#things-to-do {
  color: #5cc3e8;
}

.sep {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 4vw;
}

.bottom {
  bottom: 0;
  margin-bottom: -1px;
}

.top {
  top: 0;
  margin-top: -1px;
}

.info-box {
  padding: 1em;
