@import url('https://fonts.googleapis.com/css?family=Abel|Amatic+SC');

body {
  --main-bg-color: #f5f6f4;
  --second-bg-color: #e6e8e3;
  --main-bg-gradient: linear-gradient(var(--main-bg-color), var(--second-bg-color));
  --green-color: #00c1b2;
  --second-green-color: #00b3a4;
  --green-bg-gradient: linear-gradient(var(--green-color), var(--second-green-color));
  --blue-color: #1aafd0;
  --second-blue-color: #19abcc;
  --blue-bg-gradient: linear-gradient(var(--blue-color), var(--second-blue-color));
  --pink-color: #fc636b;
  --second-pink-color:  #fb5059;
  --pink-bg-gradient: linear-gradient(var(--pink-color), var(--second-pink-color));
  --text-shadow: 1px 1px 2px lightgrey;

  font-family: 'Abel', sans-serif;
  color: #212529;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
}

h1, h2, h3, h4 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

.flex-grid {
  display: flex;
}

.col {
  align-items: stretch;
  flex: 1;
}

@media (max-width: 750px) {
  .flex-grid {
    display: block;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 48rem;
  padding: 0 1rem;
}

section, header {
  box-sizing: border-box;
  position: relative;
}

header {
  color: var(--second-main-bg-color);
  background-image: var(--main-bg-gradient);
  text-shadow: var(--text-shadow);
}

nav {
  width: 100%;
  display: flex;
  align-content: space-evenly;
}

nav a {
  color: var(--second-main-bg-color);
  display: inline-block;
  flex: 1;
  padding: .5rem 1rem;
  text-shadow: none;
  text-decoration: none;
}

@media (max-width: 750px) {
  nav {
    display: block;
  }

  nav a {
    display: block;
    text-align: center;
  }
}

nav a:hover {
  color: black;
}

.hero {
  align-items: center;
}

.hero-title {
  text-align: center;
}

@media (max-width: 750px) {
  .hero-title {
    text-align: center;
  }
}

.hero-image img {
  max-width: 100%;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

header h2 {
  font-size: 2rem;
}

header h3 {
  font-size: 1.5rem;
}

.section-heading {
  display: block;
  font-size: 3rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
  text-shadow: var(--text-shadow);
  width: 100%;
}

section {
  background-image: var(--main-bg-gradient);
}

.event-details {
  background-image: var(--green-bg-gradient);
}

.event-details .section-heading {
  --text-shadow: 1px 1px 2px var(--second-green-color);
}

.optional-events .section-heading {
  color: var(--green-color);
}

.where-to-stay {
  background-image: var(--blue-bg-gradient);
  padding-top: 60px;
}

.where-to-stay .section-heading {
  --text-shadow: 1px 1px 2px var(--second-blue-color);
}

.travel-info .section-heading {
  color: var(--blue-color);
}

.things-to-do {
  background-image: var(--pink-bg-gradient);
}

.things-to-do .section-heading {
  --text-shadow: 1px 1px 2px var(--second-pink-color);
}

.hero {
  align-items: center;
}

.hero-title {
  text-align: center;
}

@media (max-width: 750px) {
  .hero-title {
    text-align: center;
  }
}

.hero-image img {
  max-width: 100%;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

header h2 {
  font-size: 2rem;
}

header h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

.section-heading {
  display: block;
  font-size: 3rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
  width: 100%;
}

.section-inverse {
  color: var(--main-bg-color);
  padding-bottom: 50px;
  padding-top: 50px;
}

.section-inverse a {
  color: var(--main-bg-color);
  font-weight: 700;
}

.section-inverse a:hover {
  color: #fff;
}

.sep {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 4vw;
  fill: var(--main-bg-color);
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
  fill: var(--second-bg-color);
}

.info-box {
  padding: 1em;
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
